{% extends 'main/layout.html' %}

{% load custom_filters %}

{% block title %}
    Детали отчета
{% endblock %}

{% block content %}
    <h1>Отчет за {{ report.created_at }}</h1>
     <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <p>Количество заказов: {{ report.orders_count }}</p>
            <p>Выручка: {{ report.revenue }} руб.</p>
        </div>

        <form method="POST" action="{% url 'publish_report' report.id %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Опубликовать отчет</button>
        </form>
    </div>

    <h2>Заказы по статусам:</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Статус</th>
                <th>Количество заказов</th>
                <th>Список заказов</th>
            </tr>
        </thead>
        <tbody>
             {% if orders_by_status %}
                 {% for status, orders in orders_by_status.items %}
                     <tr>
                         <td>{{ status_dict|get_item:status|capfirst }}</td>
                         <td>{{ orders|length }}</td>
                         <td>
                             {% if orders %}
                                 {{ orders|join:", " }}
                             {% else %}
                                 Таких заказов нет
                             {% endif %}
                         </td>
                     </tr>
                 {% endfor %}
             {% else %}
                 <tr>
                     <td colspan="3">Нет заказов</td>
                 </tr>
             {% endif %}
        </tbody>
    </table>



{% endblock %}