{% extends 'main/layout.html' %}

{% block title %}
    История заказов
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">История заказов</h1>
        {% if orders %}
            <div class="order-list">
                {% for order in orders %}
                    <div class="order">
                        <h3>Заказ от {{ order.created_at|date:"d.m.Y H:i" }} (ID {{ order.id }})</h3>
                        <h5>Статус заказа: {{ order.get_status_display }}</h5>
                        <br>
                        <div class="flowers">
                            <ul>
                                {% for item in order.orderitem_set.all %}
                                    <li>
                                        <img src="{{ item.flower.image.url }}" alt="{{ item.flower.name }}" style="width: 100px;">
                                        <strong>{{ item.flower.name }}</strong> - {{ item.quantity }} шт. - {{ item.flower.price }} руб.
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <h3>Стоимость заказа: {{ order.total_price }} руб.</h3>

                        <p>Адрес доставки: {{ order.address }}</p>
                        <p>Время доставки: {{ order.delivery_time_interval }}</p>

                        <a href="{% url 'orders:repeat_order' order.id %}" class="btn btn-primary">Повторить заказ</a>
                    </div>
                    <br><br><br>
                {% endfor %}
            </div>
        {% else %}
            <p>У вас пока нет заказов</p>
        {% endif %}
    </div>
{% endblock %}