{% extends 'main/layout.html' %}

{% block title %}
    Условия использования
{% endblock %}

{% block content %}
  <h1>Условия использования</h1>
  <h4>Добро пожаловать на сайт {{ caption }}!</h4>
  <br>
  <p>Используя наш сайт, вы соглашаетесь с настоящими условиями использования.</p>

  <h2>Общие положения</h2>
  <p>Данные условия регулируют использование всех услуг и материалов, представленных на нашем сайте.</p>
  <p>Если вы не согласны с этими условиями, пожалуйста, не используйте наш сайт.</p>

  <h2>Регистрация</h2>
  <p>Для оформления заказа вам может понадобиться зарегистрироваться на нашем сайте.</p>
  <p>Вы несете ответственность за сохранение конфиденциальности ваших учетных данных.</p>

  <h2>Заказы</h2>
  <p>Все заказы, размещенные на сайте, считаются подтвержденными после получения вами уведомления в Telegram.</p>
  <p>Мы оставляем за собой право отменить заказ в случае возникновения непредвиденных обстоятельств.</p>

  <h2>Изменения условий</h2>
  <p>Мы можем в любое время изменять условия использования. Рекомендуем периодически проверять эту страницу на предмет обновлений.</p>
  <p>Продолжая использовать сайт, вы соглашаетесь с измененными условиями.</p>
{% endblock %}
