{% extends 'main/layout.html' %}

{% block title %}
    {{ caption }}
{% endblock %}

{% block content %}
    <h1>Добро пожаловать в {{ caption }}!</h1>
    <br><br>
    <p>В нашем магазине вы найдете широкий ассортимент свежих и красивых цветов для любого повода.</p>
    <p>Мы предлагаем быструю и надежную доставку прямо к вашему порогу, чтобы вы могли порадовать своих близких.</p>
    <p>Мы работаем только с проверенными поставщиками, гарантируя высокое качество и свежесть наших цветов.</p>
    <p>Сделайте заказ на нашем сайте всего в несколько кликов, и мы позаботимся об остальном!</p>
    <p>Регулярно обновляемый ассортимент и специальные предложения ждут вас на нашем сайте.</p>
    <p>Подпишитесь на нашу рассылку, чтобы не пропустить акции и скидки!</p>
    <p>{{ caption }} — это ваш надежный партнер в мире цветов.</p>
    <p>Свяжитесь с нашей службой поддержки, если у вас возникнут вопросы или пожелания.</p>
    <p>Мы всегда рады помочь вам выбрать идеальный подарок.</p>
    <p>С любовью, команда {{ caption }}.</p>
{% endblock %}
