<ul>
  <li><a href="{% url 'main:index' %}">Главная страница</a></li>
  <li><a href="{% url 'goods:flower_catalog' %}">Каталог цветов</a></li>

  {% if user.is_authenticated %}
    <li><a href="{% url 'cart:cart_view' %}">Перейти в корзину</a></li>
    <li><a href="{% url 'orders:order_history' %}">История заказов</a></li>
  {% endif %}

  <br><br>
  {% if user.is_staff %}
    <li><a href="{% url 'admin:index' %}">Админ. панель</a></li>
    <li><a href="{% url 'create_report' %}">Генерация отчета</a></li>
  {% endif %}
</ul>