{% extends 'main/layout.html' %}

{% block title %}
    Политика конфиденциальности
{% endblock %}

{% block content %}
    <h1>Политика конфиденциальности</h1>
    <h4>Добро пожаловать в {{ caption }}!</h4>
    <br>
    <p>Мы ценим вашу конфиденциальность и стремимся защитить ваши личные данные.</p>
    <p>Настоящая политика конфиденциальности описывает, как мы собираем, используем и храним информацию о наших клиентах.</p>

    <h2>Собираемая информация</h2>
    <p>Мы собираем информацию, которую вы предоставляете при оформлении заказа, включая ваше имя, адрес, номер телефона и электронную почту.</p>
    <p>Также мы можем собирать данные об использовании нашего сайта с помощью файлов cookie и других технологий.</p>

    <h2>Использование информации</h2>
    <p>Собранная информация используется для обработки ваших заказов, улучшения качества обслуживания и связи с вами.</p>
    <p>Мы не будем передавать ваши данные третьим лицам без вашего согласия, за исключением случаев, предусмотренных законом.</p>

    <h2>Безопасность данных</h2>
    <p>Мы принимаем меры для защиты ваших данных от несанкционированного доступа и злоупотреблений.</p>
    <p>Однако, несмотря на все усилия, мы не можем гарантировать абсолютную безопасность ваших данных.</p>

    <h2>Изменения в политике</h2>
    <p>Мы оставляем за собой право вносить изменения в данную политику. Рекомендуем регулярно проверять эту страницу для получения актуальной информации.</p>

{% endblock %}
